/*
	WI specific styles
 */

.sidebar {
	&.sidebar-wi-nav .sidebar-content {
		> .animation-group > a.link-back {
			background: $color-slate;
			padding-bottom: 25px;
		}

		> .animation-group:nth-child(2) {
			background: $color-slate;

			> hr {
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		> .animation-group:nth-child(3) {
			background: $color-slate;
			padding-bottom: 25px;
			padding-top: 25px;
		}

		> .animation-group:nth-child(4) {
			padding: 25px $side-nav-horizontal-padding 0;

			.quality-title {
				@include typography("Rubik", 14px, 16px, $color-white);
				font-weight: 500;
				text-transform: uppercase;
			}

			.quality-subtitle {
				@include typography("Rubik", 14px, 16px, $color-white);
				padding: 10px 0 0;
			}
		}
	}
}
