
.set-row {
  display: flex;
  flex-direction: column;
}

.example-bg-black {
  margin-top: 1rem;
  padding: 1rem 0;
  background-color: #000;
}

.outline-button-example {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #000;
}

button[cms-button], a[cms-button] {
  margin-top: 1rem;
  padding-left: 1rem;
}

.button-text-italic {
  font-style: italic;
}
