@import '~qpp-style/styles/qppds/settings/variables/color';
@import '~qpp-style/styles/qppds/utilities/flexbox';

.blue-icon {
    color: $gold-20;
}

:host ::ng-deep .custom-size-icon-container {
    .custom-size-icon {
        > .qpp-c-button-icon {
            width: 50px;
            height: 50px;
        }
    }
}