// External Links

a[target^="_blank"]:not(.button):not([download]):not(.social-link):not(
		.adobe-link
	) {
	&::after {
		content: "\f08e";
		display: inline-block;
		font-family: "FontAwesome";
		font-size: 1em;
		margin-left: 0.25em;
		vertical-align: middle;
	}
}
