<div class="tabs">
  <ul>
    <li
      *ngFor="let tab of tabs; let idx = index"
      (click)="updateTab(idx)"
      [ngClass]="{'is-active': currentTabIdx === idx}">
      <a>{{tab.name}}</a>
    </li>
  </ul>
</div>
<div class="content">
  <ng-container *ngFor="let example of tabs[currentTabIdx]?.examples">
    <ng-container *ngIf="!!example?.html || !!example?.code || !!example?.documentation">
      <div *ngIf="example?.documentation" class="example-content">
        <p><span class="tag is-info">Documentation</span></p>
        <ng-container *ngTemplateOutlet="example?.documentation"></ng-container>
      </div>
      <div class="example-content">
        <p><span class="tag is-primary is-medium">See it in action!</span></p>
        <ng-container *ngTemplateOutlet="example?.content"></ng-container>
      </div>
      <div *ngIf="example?.html" class="example-content">
        <p><span class="tag is-info">HTML</span></p>
        <pre><code [highlight]="example?.html"></code></pre>
      </div>
      <div *ngIf="example?.code" class="example-content">
        <p><span class="tag is-info">Additonal code</span></p>
        <pre><code [highlight]="example?.code"></code></pre>
      </div>
    </ng-container>

    <ng-container *ngIf="!!example?.scss">
      <pre><code [highlight]="example?.scss"></code></pre>
    </ng-container>
  </ng-container>
</div>
