@import "../variables/index";

@mixin input-label {
	color: $gray-80;
	font-size: $font-size-14;
	font-weight: $font-medium;
	text-transform: none;
	display: block;
}

// uses heading objects defined in src/variables/_type
@mixin heading($heading) {
	font-family: $font-rubik;
	font-weight: nth($heading, 5);
	font-size: nth($heading, 1);
	line-height: nth($heading, 3);

	@include media-breakpoint(xxs) {
		font-size: nth($heading, 2);
		line-height: nth($heading, 4);
	}
	@include media-breakpoint(xs) {
		font-size: nth($heading, 1);
		line-height: nth($heading, 3);
	}
}

@mixin p1 {
	font-family: $font-rubik;
	font-size: $font-size-18;
	line-height: $line-height-base;

	@include media-breakpoint(xxs) {
		font-size: $font-size-16;
	}
	@include media-breakpoint(xs) {
		font-size: $font-size-18;
	}
}

@mixin p2 {
	font-family: $font-rubik;
	font-size: $font-size-14;
	line-height: $line-height-base;

	@include media-breakpoint(xxs) {
		font-size: $font-size-14;
	}
	@include media-breakpoint(xs) {
		font-size: $font-size-14;
	}
}

@mixin l1 {
	font-family: $font-rubik;
	font-size: $font-size-18;
	line-height: $line-height-md;
}

@mixin l2 {
	font-family: $font-rubik;
	font-size: $font-size-14;
	line-height: $line-height-md;
	text-transform: uppercase;
}
