@import '../settings/index';

.qpp-c-dropdown {
  display: block;
  border: 1px solid $gray-10;
  border-radius: 3px;
  color: $gray-80;
  font-size: $font-size-14;
  font-family: $font-rubik;
  font-weight: $font-regular;
  line-height: $line-height-xs;
  background-color: $white;
  box-sizing: border-box;
  padding: $spacing-12 $spacing-40 $spacing-12 $spacing-16;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: $font-size-18 auto, 100%;
  background-position: right $spacing-12 top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  appearance: none;
  -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */

  &:hover,
  &.qpp-c-dropdown--hover {
    background-color: $gray-04;
  }

  &:focus,
  &.qpp-c-dropdown--focus {
    border: 1px solid $blue-60;
    box-shadow: 0 0 0 4px $blue-10;
    outline: none;
    text-decoration: none;
  }

  &:disabled,
  &.qpp-c-dropdown--disabled {
    background-color: $gray-04;
    color: $gray-60;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(113, 113, 113)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  }
}

.qpp-c-dropdown::-ms-expand {
  display: none;
}

.qpp-c-dropdown::-ms-value {
  background: none;
  color: $gray-80;
}

.qpp-c-dropdown--big {
  padding: $spacing-16 $spacing-40 $spacing-16 $spacing-16;
}
