// stylelint-disable declaration-no-important
@import "../settings/index";

.qpp-u-fill--white {
	background-color: $white !important;
}

.qpp-u-fill--black {
	background-color: $black !important;
}

.qpp-u-fill--gray-02 {
	background-color: $gray-02 !important;
}

.qpp-u-fill--gray-04 {
	background-color: $gray-04 !important;
}

.qpp-u-fill--gray-10 {
	background-color: $gray-10 !important;
}

.qpp-u-fill--gray-20 {
	background-color: $gray-20 !important;
}

.qpp-u-fill--gray-60 {
	background-color: $gray-60 !important;
}

.qpp-u-fill--gray-70 {
	background-color: $gray-70 !important;
}

.qpp-u-fill--gray-80 {
	background-color: $gray-80 !important;
}

.qpp-u-fill--gray-90 {
	background-color: $gray-90 !important;
}

.qpp-u-fill--blue-05 {
	background-color: $blue-05 !important;
}

.qpp-u-fill--blue-10 {
	background-color: $blue-10 !important;
}

.qpp-u-fill--blue-30 {
	background-color: $blue-30 !important;
}

.qpp-u-fill--blue-40 {
	background-color: $blue-40 !important;
}

.qpp-u-fill--blue-60 {
	background-color: $blue-60 !important;
}

.qpp-u-fill--blue-70 {
	background-color: $blue-70 !important;
}

.qpp-u-fill--blue-80 {
	background-color: $blue-80 !important;
}

.qpp-u-fill--cyan-20 {
	background-color: $cyan-20 !important;
}

.qpp-u-fill--cyan-40 {
	background-color: $cyan-40 !important;
}

.qpp-u-fill--cyan-50 {
	background-color: $cyan-50 !important;
}

.qpp-u-fill--green-05 {
	background-color: $green-05 !important;
}

.qpp-u-fill--green-30 {
	background-color: $green-30 !important;
}

.qpp-u-fill--green-50 {
	background-color: $green-50 !important;
}

.qpp-u-fill--gold-05 {
	background-color: $gold-05 !important;
}

.qpp-u-fill--gold-20 {
	background-color: $gold-20 !important;
}

.qpp-u-fill--gold-40 {
	background-color: $gold-40 !important;
}

.qpp-u-fill--red-10 {
	background-color: $red-10 !important;
}

.qpp-u-fill--red-50 {
	background-color: $red-50 !important;
}

.qpp-u-fill--red-60 {
	background-color: $red-60 !important;
}

.qpp-u-fill--cost-green {
	background-color: $cost-green !important;
}

.qpp-u-fill--ia-gold {
	background-color: $ia-gold !important;
}

.qpp-u-fill--pi-magenta {
	background-color: $pi-magenta !important;
}

.qpp-u-fill--quality-blue {
	background-color: $quality-blue !important;
}
