// stylelint-disable declaration-no-important
@import "../settings/index.scss";

.qpp-u-position--relative {
	position: relative !important;
}

.qpp-u-position--absolute {
	position: absolute !important;
}

@each $breakpoint in map-keys($breakpoints) {
	$viewport: map-get($breakpoints, $breakpoint);

	@media (min-width: $viewport) {
		.qpp-u-#{$breakpoint}-position--relative {
			position: relative !important;
		}

		.qpp-u-#{$breakpoint}-position--absolute {
			position: absolute !important;
		}
	}
}
